<% p = root.page = page_work %>

<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main">

  <header id="header">
      <h1><%= p.title %></h1>
  </header>

  <section class="projects">
    
    <div class="filters-bar">
      <div class="filter-by filter-by-tags">
        <div class="filter-by-label">
          Filter by type
        </div>
        <div class="tags">
          <% p.filter_by_tags.forEach(tag => { %>
            <div class="tag chip" data-tag-name="<%= tag %>">
              <%= tag.replace('_', ' ') %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    
    <div class="items row">
      <% p.projects.forEach(project => { %>
        <div class="col m6 s12">
          <div class="item project">
            <div class="main-box z-depth-1">
              <div class="title">                
                <% if (project.employer && project.project && project.employer != project.project) { %>
                  <div class="project"><%= project.project %></div> @
                <% } %>                
                <div class="employer"><%= project.employer %></div>
              </div>
              <div class="techs">
                <% project.techs.forEach(tech => { %>
                  <div class="tech chip chip-small"><%- tech %></div>
                <% }) %>
              </div> 
            </div><!-- /.main-box -->
            <div class="tags">
              (<%- project.tags.map(tag => `<div class="tag">${tag}</div>`).join(', ') %>)
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </section>

</main>

<% include _footer %>

</body>
 
</html>
