<% p = root.page = page_work -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main">

  <header id="header">
      <h1><%= p.title %></h1>
  </header>

  <hr>

  <strong>Note:</strong> If you're looking for my CV or Resume, <a href="/contact.html">contact me</a>.

  <hr>

  <section class="projects">
    
    <!--<div class="filters-bar">
      <div class="filter-by filter-by-tags">
        <div class="filter-by-label">
          Filter by type
        </div>
        <div class="tags">
          <% p.filter_by_tags.forEach(tag => { %>
            <div class="tag chip" data-tag-name="<%= tag %>">
              <%= tag.replace('_', ' ') %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>-->
    
    <br><br>
    
    <div class="items row">
      <% p.projects.forEach(project => { %>
        <div class="col m6 s12">
          <div class="item project">
            <div class="main-box z-depth-1" <%- project.bg ? `style="background:${project.bg}"` : '' %>>
              <a href="<%- project.link %>"  rel="nofollow" class="title">                
                <% if (project.project && project.employer != project.project) { %>
                  <div class="project"><%= project.project %></div>
                <% } %>
                <%= (project.project && project.employer && project.employer != project.project) ? '@' : '' %>                
                <% if (project.employer) { %>
                  <div class="employer"><%= project.employer %></div>
                <% } %>
              </a>
              <% if (project.techs) { %>
                <div class="techs">
                  <% project.techs.forEach(tech => { %>
                    <div class="tech chip chip-small"><%- tech %></div>
                  <% }) %>
                </div> 
              <% } %>
            </div><!-- /.main-box -->
            <% if (project.tags) { %>
              <div class="tags">
                (<%- project.tags.map(tag => `<div class="tag">${tag}</div>`).join(', ') %>)
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </section>

</main>

<% include _footer %>

</body>
 
</html>
